# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# SQLite database files (if any)
*.sqlite3
*.db

# Logs
*.log

# IDE/editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS system files
.DS_Store

# Python egg info
*.egg-info/
.eggs/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest cache
.pytest_cache/